body {
  background-image:url('https://images.unsplash.com/photo-1612198791461-e26e3b5dcb86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1588&q=80');
  background-size:cover;
  background-position-y: center;
  background-repeat:repeat-y;
}
.required {
  color:red;
}
img {
  width: 259px;
  height: 180px;
  object-fit: cover;
}
form {
  background-color: rgb(216, 255, 214);
  border: 1px sollid darkgray;
  padding: 2rem 2rem;
}
button {
  margin-top: 1rem;
}
.card-group {
  gap:0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
a {
  text-decoration: none;
  color:rgb(14, 78, 11);
}

a:hover {
  color:rgb(216, 255, 214);
}